.about-container {
  margin: 12vh auto 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 100%;
}

.about-content {
  margin-bottom: 10px;
}

p {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem;
}
