.Contact-Page__Wrapper {
  margin: 10vh auto 0;
  height: 80vh;
}

.ui.form .inline.fields .wide.field > input {
  background-color: mintcream;
}

.ui.form textarea:not([rows]) {
  background-color: mintcream;
}

.ui.form {
  max-width: 50% !important;
  margin: 15vh auto 0;
}

@media screen and (max-width: 425px) {
  .ui.form {
    max-width: 90% !important;
  }
}

.ui.form .five.wide.field {
  width: 100% !important;
}
