/* .Contact-Page__Wrapper {
  background-color: blanchedalmond;
  justify-content: center;
  display: flex;
  height: 100vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  height: 50vh;
} */

@media (min-height: 320px) {
  .ui.footer.form-page {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.ui.form .inline.fields .wide.field > input {
  background-color: transparent;
}

.ui.form textarea:not([rows]) {
  background-color: transparent;
}

.ui.form {
  border: 2px solid white;
}
